body{
    background-color: aliceblue;
    margin: 0;
    color: #000000;
}
.nav-bar{
    background-color: rgb(0, 227, 243);
    height: 10vh;
    width: 100%;
}
.nav-bar .nav-items .links,
.nav-bar,
.footer .footer-disclaimer,
.footer .footer-disclaimer p{
    display: flex;
    place-items: center;
    justify-content: center;
}
.nav-bar .nav-items{
    display: flex;
    place-items: center;
    margin: auto;
    height: 4vh;
    width: 80%;
    justify-content: space-around;
}

.nav-bar .nav-items .links{
    height: 4vh;
    width: 20vw;
    padding-top: 1.5vh;
    cursor: pointer;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-top-style: groove;
    border-top-color: rgb(51, 255, 0);
    border-bottom-color: rgb(51, 255, 0);
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-bottom-style: groove;
    font-weight: bold;
}
.nav-bar .nav-items .links:hover{
    border-bottom-style: ridge;
    border-bottom-color: chartreuse;
    border-bottom-width: 2px;
    border-top: none;
}

iframe{
    width: 100%;
    overflow:visible;
    margin: auto;
}

.container,
.content{
    width: 80%;
    margin: auto;
    min-height: 50vh;
}
.content{
    display: flex;
    width:90%;
    height:auto;
    overflow-y:visible;
}

.footer{
    width: 100%;
    height: 5vh;
}
.footer .footer-disclaimer p{
    color: rgb(49, 142, 165);
    font-size: 25px;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .nav-bar .nav-items{
        width: 100%;
    }
    .nav-bar .nav-items .links{
        width: 35vw;
        height: 5vh;
        font-size: 2.5vh;
    }

    .container,
    .content{
        width:100%;
    }
  }